<html>
  <head>
    <title>Simple Pastie</title>
    <link href="/styles.css" type="text/css" rel="stylesheet" />
    <% if @render %>
      <link href="/render-styles.css" type="text/css" rel="stylesheet" />
      <link href="/prettify.css" type="text/css" rel="stylesheet" />
      <script type="text/javascript" src="/prettify.js"></script>
    <% end %>
  </head>
  <body <%= @render ? 'onload="prettyPrint()"' : '' %>>
    <div id="wrapper">
       <%= yield %>
    </div>
  </body>
</html>
