<form action="/pasteit" method ="post" accept-charset="utf-8">
  <h3>Paste somethin yo!</h3>
  <input type="submit" value="paste!">
  <br/>
  <textarea id="content" name="content" value="" rows="20" cols="60"></textarea>
</form>

